.featured-container {
  padding: 1.2rem;
  background: white;
  max-width: 100%;
  min-height: 22rem;
}
.featuredProducts {
  padding: 0.5rem 1rem;
  max-width: 80rem;
  margin: 0 auto;
  background: #fff;
}
.featuredProducts button {
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  padding: 0;
  background: transparent;
}

img {
  height: 12rem;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}
.featured-grid {
  display: grid;
  grid-gap: 1rem;
}
.featured-grid,
.featured-grid-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.featured-grid-item {
  display: grid;
  max-width: 25rem;
  min-width: 25rem;
}
.featured-grid-item h3 {
  padding: 0 1rem;
}
@media only screen and (min-width: 30rem) {
  .featured-grid {
    grid-template-columns: 1fr;
  }
  .featured-grid-item {
    display: grid;
    max-width: 100%;
  }
  .featured-grid-item img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 60rem) {
  .featured-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
